body {
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px; }
  
  ::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000;
    color: #fff; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none; }
  
  .text-black {
    color: #000; }
  
  .site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

  .btn {
    height: 43px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    text-transform: uppercase;
    font-size: 13px; }
    .btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .btn.btn-black {
      padding: 12px 30px;
      background: #000;
      color: #fff; }
      .btn.btn-black:hover, .btn.btn-black:active, .btn.btn-black:focus {
        background-color: #333333; }
  
  .form-control {
    height: 43px; }
    .form-control:active, .form-control:focus {
      border-color: #fe4c50; }
    .form-control:hover, .form-control:active, .form-control:focus {
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
  
  .site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .site-section-heading {
    font-size: 30px;
    color: #25262a;
    position: relative; }
    .site-section-heading:before {
      display: none;
      content: "";
      left: 0%;
      top: 0;
      position: absolute;
      width: 40px;
      height: 2px;
      background: #fe4c50; }
    .site-section-heading.text-center:before {
      display: none;
      content: "";
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      width: 40px;
      height: 2px;
      background: #fe4c50; }
  
  .border-top {
    border-top: 1px solid #edf0f5 !important; }
  
  
  .site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .offcanvas-menu .site-mobile-menu {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    .site-mobile-menu .site-mobile-menu-header {
      width: 100%;
      float: left;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: right;
        margin-top: 8px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
          font-size: 40px;
          display: inline-block;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 1;
          cursor: pointer;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
            color: #25262a; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 20px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
          display: inline-block;
          text-transform: uppercase;
          color: #000;
          letter-spacing: .2em;
          font-size: 22px;
          font-weight: 900; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
            text-decoration: none; }
    .site-mobile-menu .site-mobile-menu-body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;
      padding: 20px;
      height: calc(100vh - 52px);
      padding-bottom: 150px; }
    .site-mobile-menu .site-nav-wrap {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      .site-mobile-menu .site-nav-wrap a {
        padding: 10px 20px;
        display: block;
        position: relative;
        color: #212529; }
        .site-mobile-menu .site-nav-wrap a:hover {
          color: #fe4c50; }
      .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block; }
        .site-mobile-menu .site-nav-wrap li.active > a {
          color: #fe4c50; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 20;
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
          background: #f8f9fa; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
          font-size: 18px;
          z-index: 20;
          font-family: "icomoon";
          content: "\e313";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%; }
        .site-mobile-menu .site-nav-wrap > li > a {
          padding-left: 20px;
          font-size: 20px; }
        .site-mobile-menu .site-nav-wrap > li > ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .site-mobile-menu .site-nav-wrap > li > ul > li {
            display: block; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > a {
              padding-left: 40px;
              font-size: 16px; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
              padding: 0;
              margin: 0; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                  font-size: 16px;
                  padding-left: 60px; }
  .site-blocks-table {
    margin: 80px;
    overflow: auto; }
    .site-blocks-table .product-thumbnail {
      width: 200px; }
    .site-blocks-table thead th {
      padding: 30px;
      text-align: center;
      border-width: 1px !important;
      vertical-align: middle;
      color: #212529;
      font-size: 18px; }
    .site-blocks-table td {
      padding: 20px;
      text-align: center;
      vertical-align: middle;
      color: #212529; }
    .site-blocks-table tbody tr:first-child td {
      border-top: 1px solid #fe4c50 !important; }
  
  .site-block-order-table th {
    border-top: none !important;
    border-bottom-width: 1px !important; }
  
  .site-block-order-table td, .site-block-order-table th {
    color: #000; }
  
  .site-block-top-search {
    position: relative; }
    .site-block-top-search .icon {
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .site-block-top-search input {
      padding-left: 40px;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
      .site-block-top-search input:focus, .site-block-top-search input:active {
        padding-left: 25px; }
  
  .site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0; }
  
  .site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px; }
    .site-block-27 ul li a, .site-block-27 ul li span {
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #eee;
      color: #000; }
    .site-block-27 ul li.active a, .site-block-27 ul li.active span {
      background: #343a40;
      color: #fff;
      border: 1px solid transparent; }
  
  #slider-range {
    height: 8px; }
    #slider-range .ui-slider-handle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: none !important;
      background: #fe4c50; }
      #slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
        outline: none; }
    #slider-range .ui-slider-range {
      background-color: #fe4c50; }
  
  .color-item .color {
    width: 14px;
    height: 14px; }
  
  .block-16 figure {
    position: relative; }
    .block-16 figure .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 40px;
      width: 90px;
      height: 90px;
      background: #fff;
      display: block;
      border-radius: 50%;
      border: none; }
      .block-16 figure .play-button:hover {
        opacity: 1; }
      .block-16 figure .play-button > span {
        position: absolute;
        left: 55%;
        top: 50%;
        -webkit-transform: translate(-50%, -45%);
        -ms-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%); }
  
  .block-38 .block-38-header .block-38-heading {
    color: #000;
    margin: 0;
    font-weight: 300; }
  
  .block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .1em; }
  
  .block-38 .block-38-header img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px; }
  
  
  
  
    
  